<ion-header>
    <ion-toolbar>
        <ion-title>
            Camera App
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
    <ion-button (click)="takePicture()">Take a Picture</ion-button>
    <img [src]="base64Image" *ngIf="base64Image" />
            <h2>Image Name</h2>
            <h2><ion-input type="text" placeholder="imagename" [(ngModel)]="imagename" name="image"></ion-input></h2>
           <!--    <ion-input type="text" placeholder="User full name" [(ngModel)]="fullname" name="name"></ion-input>
                <ion-input type="text" placeholder="imagedetails" [(ngModel)]="imagename" name="image"></ion-input>
            <ion-button (click)="submit()">submit</ion-button>-->
        </ion-card-content>
    </ion-card>
</ion-content>
