page-login {
  .ion-content{
    background: linear-gradient(#1a6bdd, #beeef5);
    background-color: #24d6ea;
  }
  .ion-item{
    margin-bottom: 21px !important;
    border-radius: 21px !important;
  }
  .ion-button{
    width: 80% !important;
    margin-bottom: 10% !important;
  }
}
